<section class="am-container">
    <img class="am-img" src="/assets/about-me/me.png" alt="Homem com camisa escura e braços apoiados em mesa">
    <div class="am-content">
        <div class="am-info">
            <div class="am-info-content">
                <p class="am-title">Desenvolvedor Frontend com mais de 3 anos de experiência profissional</p>
                <li class="am-text">Focado em criar interfaces intuitivas e eficientes, sempre buscando inovação em cada projeto</li>
            </div>
            <div>
                <p class="am-title">Graduado em Ciência da Computação</p>
                <li class="am-text">Formação sólida que fornece a base para minha expertise em desenvolvimento de software</li>
            </div>
            <div>
                <p class="am-title">Atualmente pós-graduando em Desenvolvimento Frontend</p>
                <li class="am-text">Aperfeiçoando minhas habilidades e me mantendo atualizado com as últimas tendências e tecnologias do mercado</li>
            </div>
            <div>
                <p class="am-title">Especialista em tecnologias frontend modernas</p>
                <li class="am-text">Experiência com Angular, React, manipulação avançada de CSS, animações com GSAP e Lottie</li>
            </div>
            <div>
                <p class="am-title">Certificações diversas em plataformas renomadas como Alura</p>
                <li class="am-text">Sempre em busca de aprimorar meu conhecimento e habilidades técnicas</li>
            </div>
            <div>
                <p class="am-title">Trabalho com metodologias ágeis e boas práticas de desenvolvimento</p>
                <li class="am-text">Focado em entregas eficientes e colaboração com equipes</li>
            </div>
        </div>
    </div>
</section>
